<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <latestnews>
            <general>
                <enable>1</enable>
                <header_title>News</header_title>
            </general>
        </latestnews>
    </default>
</config>
